@import url(./common.css);

main{
    width:100%;
    max-width: 1640px;
    margin:200px auto;
    padding:0 20px;
}
main>ul{
    width:100%;
    margin:50px auto;
    display:flex;
    justify-content: center;
    
}
main>ul>li{
    width:auto;
}

main>ul>li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-right:25px;
    margin-left:25px;
    background-color: #e5e5e5;
}

main>ul>li:nth-child(1):before{
    content: '';
    background:none;
}

main>ul>li>a{}
main>ul>li:nth-child(2):hover{
    font-weight: 600;
}

main>div{
    margin:0 auto;
    padding: 0 10%;
    display:flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
}

.leftbox{
    width:30%; height:auto;
    margin:0;
}
.leftbox>ul{width:100%;}
.leftbox>ul li{width:100%;
    margin:10px 0;
}
.leftbox>ul li figure{width:100%;
    margin-bottom: 10px;
}
.leftbox>ul li figure img{width:100%;}
.leftbox>ul li p{
    font-size: 0.9rem;
}
.leftbox>ul li table{
    margin:5px 0;
}
.leftbox>ul li table tbody{}
.leftbox>ul li table tbody tr{}
.leftbox>ul li table tbody tr td{
    font-size: 0.9rem;
}
.leftbox>ul li table tbody tr td:nth-child(1){
    font-weight: bold;
    width:20%;
}
.leftbox>ul li table tbody tr td a{}

.rightbox{
    width:60%;
    height:auto;
    margin-right:50px;
    margin-left:20px;
    font-weight: 300;
}

.rightbox::after{
    content: '';
    display: inline-block;
    width:100%; height:1px;
    background-color: #66666637;
    margin-top: 100px;
}
.rightbox p{
    margin-bottom:20px;
    line-height: 1.75;
    letter-spacing: 0.08rem;
    white-space: pre-line;
}

.leftunderbox{
    width:30%; height:auto;
    margin:0;
    margin-top: 100px;
}
.leftunderbox article{
    margin:10px 0;
}
.leftunderbox article h3{
    font-size: 0.9rem;
    color:black;
    font-weight: 500;
    margin:10px 0 ;
}
.leftunderbox article p{
    white-space: pre-line;
    font-size: 0.9rem;
    color:#888888;
}

.rightunderbox{
    width:60%;
    margin-right:50px;
    margin-left:20px;
    margin-top:100px;
}
.rightunderbox p{
    margin-bottom:20px;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.05rem;
    white-space: pre-line;
}

/* ====================================================================================
====================================================================================
==================================================================================== */
@media(max-width:1023px) {
    main{
        width:100%;
        max-width: 1640px;
        margin:80px auto;
        padding:0 20px;
    }
    main>ul{
        width:100%;
        margin:50px auto;
        display:flex;
        justify-content: center;
        
    }
    main>ul>li{
        width:auto;
    }
    
    main>ul>li::before{
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        margin-right:25px;
        margin-left:25px;
        background-color: #e5e5e5;
    }
    
    main>ul>li:nth-child(1):before{
        content: '';
        background:none;
    }
    
    main>ul>li>a{}
    main>ul>li:nth-child(2):hover{
        font-weight: 600;
    }
    
    main>div{
        display:flex;
        justify-content: space-between;
        width:98%;
        flex-wrap: wrap;
        padding:0;
    }

    .leftbox{
        width:30%; height:auto;
        margin:0;
    }
    .leftbox>ul{width:100%;}
    .leftbox>ul li{width:100%;
        margin:10px 0;
        overflow: hidden;
    }
    .leftbox>ul li figure{width:100%;
        margin-bottom: 10px;
    }
    .leftbox>ul li figure img{width:100%;}
    .leftbox>ul li p{width:100%;
        font-size: 0.9rem;
    }
    .leftbox>ul li table{
        margin:5px 0;
    }
    .leftbox>ul li table tbody{}
    .leftbox>ul li table tbody tr{}
    .leftbox>ul li table tbody tr td{
        font-size: 0.9rem;
        
    }
    .leftbox>ul li table tbody tr td:nth-child(1){
        font-weight: bold;
        width:20%;
    }
    .leftbox>ul li table tbody tr td a{}
    
    .rightbox{
        width:60%;
        height:auto;
        font-weight: 300;
        margin:0;
        margin-left:2%;
        
    }
    
    .rightbox::after{
        content: '';
        display: inline-block;
        width:100%; height:1px;
        background-color: #66666637;
        margin-top: 100px;
    }
    .rightbox p{
        width:100%;
        margin:0; padding:0;
        margin-bottom:20px;
        line-height: 1.75;
        letter-spacing: 0.08rem;
        white-space: pre-line;
    }
    
    .leftunderbox{
        width:30%; height:auto;
        margin:0;
    }
    .leftunderbox article{
        margin:10px 0;
    }
    .leftunderbox article h3{
        font-size: 0.9rem;
        color:black;
        font-weight: 500;
        margin:10px 0 ;
    }
    .leftunderbox article p{
        white-space: pre-line;
        font-size: 0.9rem;
        color:#888888;
    }
    
    .rightunderbox{
        width:60%;
        height:auto;
        font-weight: 300;
        margin:0;
        margin-left:2%;
    }
    .rightunderbox p{
        margin-bottom:20px;
        line-height: 1.75;
        font-weight: 300;
        letter-spacing: 0.05rem;
        white-space: pre-line;
    }
}






/* ====================================================================================
====================================================================================
==================================================================================== */