@import url(./common.css);

main{
    margin: 200px auto;
    width: 100%;
    max-width: 1640px;
}

.artinav{
}

.artinav ul{
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    font-weight: 200;
}

.artinav ul li{
    width:auto;
}

.artinav ul li::before{
    content: '';
    border-left: 1px solid #e5e5e5;
    margin-right:20px;
    margin-left:20px;
}

.artinav ul li button{
    border:none;
    background: none;
    font-size: 1rem;
    color:#999999;
    overflow: hidden;
}

.artinav ul li button:hover{
    color:#222222;
    cursor: pointer;
}
.artinav .a-btn li button.active{
    color:#222222; font-weight: 700;}

.artinav ul li:nth-child(1):before{
    content: '';
    border:none;
    margin-right:50px;
}

.obj{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width:100%; height:auto;
    margin: 100px auto;
    min-height: 580px;
    padding: 0 15px;
    overflow: hidden;
}

.obj .artlist{
    display:flex;
    width:50%;

}

.obj .artlist ul{
    width:100%;
    font-size: 1.1em;
    font-weight: 400;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.obj .artlist ul li{
    width:50%;
    font-weight: 500;
    margin-top: 10px;
    overflow: hidden;
}

.obj .artlist ul.active {
    display:flex;
    flex-direction: column;
}

.obj .artlist ul:nth-child(1).active li:nth-of-type(2) a{text-decoration: underline;}

.art-hover{width:40%;}
.art-hover figure{width:100%;}
.art-hover figure img{width:100%;}
.art-hover.active figure img{display:block; width:100%; margin:0;}

/* ================================================================================================
================================================================================================
================================================================================================ */
        @media(max-width:767px){

            main{
                margin:70px auto;
            }
            .obj{margin:30px auto;}
            .obj .artlist {
                width:100%;
                text-align: center;
            }
            .artinav ul{
                display: block;
                position: relative;
                width: 100%;
                padding: 14px 0 11px;
                border: 1px solid #d6d6d6;
                letter-spacing: 0.05em;
                text-align: center;
            }

            .a-btn li{display:none;}
            .a-btn li.active{display:block;}
            .a-btn.active li {display:block;}

            .artinav ul li::before{
                
                display:none;
            }

            .artinav ul::after{
                content: '';
                display:inline-block;
                width:20px; height:20px;
                background: url(../img/ico_package_2x.png) 0 0 / 700% no-repeat;
                background-position: -67px -133px;
                position: absolute;
                top:25%; right:2%;
            }

            .artinav ul.active::after{
                content: '';
                display:inline-block;
                width:20px; height:20px;
                background: url(../img/ico_package_2x.png) 0 0 / 700% no-repeat;
                background-position: -105px -133px;
                position: absolute;
                top:10px; right:2%;
                
            }

            
            .obj .artlist ul{
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
            .art-hover{display:none;}




        }


/* ================================================================================================
================================================================================================
================================================================================================ */