@import url(./common.css);

main{
    margin: 200px auto;
    width: 100%;
    max-width: 1640px;
}

.exhibitionsnav{

}


.exhibitionsnav ul{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.exhibitionsnav ul li{
    width:auto;
}
.exhibitionsnav ul li a{
}

.exhibitionsnav ul li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-right:25px;
    margin-left:25px;
    background-color: #e5e5e5;
}

.exhibitionsnav ul li:nth-child(1)::before{
    content: '';
    background:none;
}





.exhibitions{
    width:100%;
    max-width: 1640px;
    margin-top: 100px;
} 
.exhibitions .onview{
    width:100%;
    display:flex;
}
.exhibitions .onview li{
    width:33.333%; height:auto;
}
.exhibitions .onview li a{
    width:100%; height:auto;
}

.exhibitions .onview li a figure{
    width:100%; height:auto;
    padding:0px;
    margin: 10px 0;
}
.exhibitions .onview li a figure img{
    width:100%; height: auto;
}
.exhibitions .onview li a span{
    margin-top: 5px;
    font-size: 0.9em;
}
.exhibitions .onview li a h2{
    font-weight: 500;
    letter-spacing: 0.07em;
    color:#222222;
    margin:11px 0;
}
.exhibitions .onview li a p{
    font-size:0.9em;
}


/* =========================================================
=========================================================
========================================================= */
    @media(max-width:1023px){
        main{
            margin: 100px auto;
        }
        .exhibitions{
            width:98%;
            margin:50px auto;
        } 
        .exhibitions .onview{
            width:98%;
            display:flex;
        }

        .exhibitions .onview li a h2{
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.07em;
            color:#222222;
            margin:11px 0;
        }
    }

/* =========================================================
=========================================================
========================================================= */