@import url(./common.css);

main{width:90%;
    max-width: 1640px;
    margin:150px auto;}

    @media(max-width:1023px){
        main{margin:100px auto;}
    }
main .headline{ 
    width:100%;
    text-align: center;
}
main .headline>p{
    display:inline-block;
    margin:10px auto;
    border-bottom:1px solid #222222;
    margin-bottom: 80px;
    color:#222222;
    font-weight: bold;
}
main .headline>article{
}
main .headline>article>h2{
    color:#222222;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}
main .headline>article>p{
    margin:20px 0;
    white-space: pre-line;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 2;
}

main .headline>article>p::after{
    content: '';
    display: block;
    width:2px; height:80px;
    background-color: black;
    margin:50px auto;
}

main .fof{
    width:90%; height:56vw;
    margin:0 auto;
}


main .sharebox{
    width:40%;
    margin:20px auto;
    display:flex;
    align-items: center;
}
main .sharebox li{
    width:auto;
    border:1px solid #66666669;
    border-radius: 50%;
    margin:0 5px;
}
main .sharebox > li:nth-of-type(1){border-style: none;}
main .sharebox > li:nth-of-type(4) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -155px -150px;
    margin-left: 5px;
}

main .sharebox > li:nth-of-type(3) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -105px -150px;
    margin-left: 5px;
}

main .sharebox > li:nth-of-type(2) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -55px -150px;
    margin-left: 5px;
}
