@import url(./common.css);

main{
    width:100%;
    margin:50px auto;
    max-width: 1640px;
}

.mainimg{
    width:100%; height: auto;
    padding: 0 40px;
    margin-bottom:100px;
    
}

.mainimg >figure{
    width:100%; 
    opacity: 1; 
}

main>div>figure>img{
    width:100%; 
    height: calc(100vh - 122px);
    opacity:1; 
}

main>.artinav{
    text-align: center;
}

main>.artinav>h2{
    color:#222222;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    margin:40px 0;
}

main>.artinav> .menunav{
    position: sticky;
    left:0; top:10%;
    height:10vh;
    background-color: white;
    z-index: 20;
    display: flex;
    align-items: center;
}

main>.artinav> .menunav ul{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
main>.artinav> .menunav > ul>li{
    width:auto;
}

main>.artinav> .menunav > ul>li::before{
    content: '';
    display: inline-block;
    width:1px; height: 10px;
    background-color: #999;
    margin:0 30px;
}

main>.artinav> .menunav > ul>li:nth-child(1):before{
    content: '';
    display: none;
}

main>.artinav> .menunav > ul>li>button{
    border:none;
    background: transparent;
    font-size: 1.15rem;
}

main>.artinav> .menunav > ul>li>button:hover{
    cursor: pointer;
}
.textbox{
    width:80%;
    display:flex;
    justify-content: space-between;
    margin:50px auto;
    text-align: left;
}
.textbox .info{
    width:30%;
}

.textbox .info ul{font-size: 0.8rem;}
.textbox .info img{width:100%;}
.textbox .info > article > h3{
    font-size: 0.9rem;
    margin-bottom:5px;
}
.textbox .info > article > p {
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
    white-space: pre-line;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.textbox .info > div{padding:10px 0;}
.textbox .info > div > h3{
    font-size: 0.9rem;
    margin-bottom:5px;
}
.textbox .info > div > p {    
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
    white-space: pre-line;
    line-height: 1.5rem;
    margin-bottom: 10px;}

.textbox .info > div > a{
    font-size: 0.9rem;
    
}

.textbox .txt{
    width:60%;
}
.textbox .txt > p{
    margin-bottom:20px;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;

}
.textbox .txt > a{}
.textbox .txt > div{
    display:flex;
    justify-content: space-between;
}
.textbox .txt > div > a{
    color:#222222;
    letter-spacing: 0.04rem;
}

.textbox .txt > div > a::after{
    content: '';
    display:inline-block;
    width:15px; height:15px;
    background: url(../img/ico_package.png);
    background-position: 0 -145px;;
    margin-left: 5px;

}
.textbox .txt > div > ul{
    flex-direction: row-reverse;
    display: flex;
}
.textbox .txt > div > ul li{
    width:auto;
}
.textbox .txt > div > ul li a{
}


.textbox .txt > div > ul li:nth-of-type(1) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -150px -155px;
    margin-left: 5px;
}

.textbox .txt > div > ul li:nth-of-type(2) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -100px -155px;
    margin-left: 5px;
}

.textbox .txt > div > ul li:nth-of-type(3) a::after{
    content: '';
    display:inline-block;
    width:25px; height:25px;
    background: url(../img/ico_package.png);
    background-position: -50px -155px;
    margin-left: 5px;
}




.works{
    width:100%; height:auto;
    margin: 200px auto;
    text-align: center;
}
.works h2{
    color:#222222;
    font-size: 1.9rem;
    margin-bottom: 50px;
    font-weight: bold;
}
.works ul{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: space-between;
}
.works ul li{
    width:22%;
    margin:50px 10px;
    position: relative;
}
.works ul li a{
    
}
.works ul li a figure{
    width:100%; 
    
}
.works ul li a figure img{width:100%;}


.works ul li a p{
    position: absolute;
    display: flex;
    left: 0; top:0;
    width:100%; height: 100%;
    background-color: #222222ac;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    opacity: 0; transition: 1s;
    white-space: pre-line;
}
.works ul li:hover a p{
    opacity: 1;
}



.more{width:100%; height:auto;}
.more a{
    margin: 100px auto;
    width:182px; height: 70px;
    padding-left: 30px;
    border: 1px solid #66666659;
    letter-spacing: 0.025rem;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 200;
}

.more a::after{
    content: '';
    padding-right:20px;
    display: inline-block;
    width:30px; height:30px;
    background: url(../img/ico_package.png) -110px 0 / 200px no-repeat;
    background-position: -80px 7px
}


.insviews{
    width:100%; height:auto;
    margin: 200px auto;
    text-align: center;
}
.insviews h2{
    color:#222222;
    font-size: 1.7rem;
    margin-bottom: 50px;
    font-weight: bold;
}
.insviews ul{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.insviews ul li{
    width:25%;
    margin: 0 30px;
    text-align: left;
}
.insviews ul li a{width:100%;}
.insviews ul li a figure{
    width:100%;
}
.insviews ul li a figure img{
    width:100%;
}
.insviews ul li a figure figcaption{
    width:100%;
    font-size: 0.8rem;
    margin-top:10px;
    letter-spacing: 0.05rem;
}

.stories{
    width:100%;
    margin: 200px auto;
    text-align: center;
}
.stories h2{
    color:#222222;
    font-size: 1.9rem;
    margin-bottom: 50px;
    font-weight: bold;
}
.stories ul{}
.stories ul li{
    width:25%;
    text-align: left;
}
.stories ul li a{}
.stories ul li a figure{}
.stories ul li a p:nth-of-type(1){
    font-size: 0.9rem;
}
.stories ul li a p:nth-of-type(2){
    font-size: 1.2rem;
    color:#222222;
    font-weight: 500;
}

/* =======================================================================================
=======================================================================================
======================================================================================= */
@media(max-width:1023px){
    main{width:98%;}
    .textbox{
        width:100%;
        display:flex;
        justify-content: space-between;
        margin:100px auto;
        padding:0 5px;
    }

    main>.artinav> .menunav{
        position: sticky;
        left:0; top:5%;
        height:10vh;
        background-color: white;
        z-index: 20;
        display: flex;
        align-items: center;
    }
    main>.artinav > h2{
        font-size: 2rem;
    }
    .menunav{
        padding:40px 0 ;
        padding-bottom:10px;
        position: sticky;
        top:3%;
        z-index: 20;
        background-color: white;}
    main>.artinav> .menunav > ul>li>button{
        font-size: 1rem;
}
.works ul li{
    width:48%;
    margin:50px 10px;
    position: relative;
}

.more a{margin:30px auto}

.stories ul li a p:nth-of-type(2){
    font-size: 0.9rem;
    color:#222222;
    font-weight: 500;
}

    @media(max-width:767px){
        .textbox{
            display:block;
            width:100%;
            margin:100px auto;
            padding:0 5px;
        }
        .textbox .info{width:100%; margin-bottom:10px;}
        .textbox .txt{width:100%; margin-top: 30px;}
        .textbox .txt>div{
            display:block;
        }
        .textbox .txt>div>ul{
            justify-content: center;
        }
        .textbox .txt > div > ul li{
            border:1px solid #ccc;
            border-radius: 50%;
            margin: 0 5px;
        }
        .textbox .txt > div > ul li:nth-of-type(1) a::after{
            content: '';
            display:inline-block;
            width:40px; height:40px;
            background: url(../img/ico_package.png);
            background-size: 256px auto;
            background-position: -194px -188px;
            margin-left: 5px;
        }
        
        .textbox .txt > div > ul li:nth-of-type(2) a::after{
            content: '';
            display:inline-block;
            width:40px; height:40px;
            background: url(../img/ico_package.png);
            background-size: 256px auto;
            background-position: -130px -188px;
            margin-left: 5px;
        }
        
        .textbox .txt > div > ul li:nth-of-type(3) a::after{
            content: '';
            display:inline-block;
            width:40px; height:40px;
            background: url(../img/ico_package_2x.png);
            background-size: 256px auto;
            background-position: -66px -188px;
            margin-left: 5px;
        }
        
    
        .textbox .txt>div>ul>li:nth-child(4){display:none;}
        .works h2{
            font-size: 1rem;
            text-align: left;
            margin: 0 30px;
        }
        .works ul{display:flex;}
        .works ul li{
            width:47%;
            position: relative;
        }
        .insviews h2{
            font-size: 1rem;
            text-align: left;
            margin: 0 30px;
        }
        .insviews ul{
            display:block;
            margin-top:50px;
        }
        .insviews ul li{
            width:94%;
            margin-bottom:20px;
        }
    
        .stories h2{
            font-size: 1rem;
            text-align: left;
            margin: 0 30px;
        }
        .stories ul{
            margin-top: 50px;
        }
    
    
    
    }

}



/* =======================================================================================
=======================================================================================
======================================================================================= */